body {
    font: arial,sans-serif;
    background-color: rgb(219,134,148);
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: pink;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: pink;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.header {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    background-color: black;
    color: white;
    border-radius: 5px;
    
}


.style1 { background-color: plum;
    font-size: 15px;
}
.style2 { background-color: palevioletred;
    font-size: 25px;
}
.style3 { background-color: black;
    font-size: 15px;
}
.style4 { background-color: plum;
    font-size: 25px;
}
.style5 { background-color: palevioletred;
    font-size: 15px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: pink;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}

.btn:hover {
    background-color: rgb(219,134,148);
}